.Navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #479aff;

    position: fixed;
    top: 0;
    width: 100%;
}
.header-left{
    float:left;
}
.Navigation body{
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
}
li {
    float: right;
}

.Navigation li a {
    font-size: 18px;

    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    color: white;
    background: transparent;
}
